.custom-card-text {
  text-align: left;
}

.custom-card-title {
  font-size: xx-large;
}

.footer-sponsor-img {
  /* Size images */
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;

  /* Center images */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}